[Unit]
Description=Waveshare Poe Hat B
After=network.target
[Service]
Environment=systemd=true
ExecStart=python3 home/pi/poe-hat-b/main.py
Restart=always
RestartSec=30
[Install]
WantedBy=multi-user.target